@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background-color 0.3s;
}

body.dark-mode {
  background-color: #191919;
  color: #fff;
}

.container {
  text-align: center;
}

.timer-container {
  padding-bottom: 20px;
}

.timer {
  font-size: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer div {
  font-weight: 700;
  font-size: 48px;
  transition: color 0.3s;
}

body.dark-mode .timer div {
  color: #fff;
}

#colon {
  margin: 0 5px;
}

.controls {
  margin-top: 20px;
}

button {
  font-size: 24px;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  transition: opacity 0.3s;
}

button:hover {
  opacity: 0.8;
}

button.dark-mode {
  color: #fff;
}

.mode-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  transition: opacity 0.3s;
}

@media (max-width: 600px) {
   .controls button {
    font-size: 15px;
  }

  .mode-toggle {
    font-size: 15px;
  }
}
